.chatContainer {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.chatContactsContainer{
  border-right: 1px solid white;
  position: fixed;
  top: 0;
  width: 25%;
  height: 100%;
}

.chatContactsContainer li {
  padding: 15px;
  border-bottom: 1px solid white;
  color: red;
}

.actualChatContainer{
  position: fixed;
  top:0;
  right: 0;
  width: 75%;
  height: 100%;
}

.chatTextContainer{
  position: absolute;
  width: 100%;
  height: 90%;
}

.chatTextContainer li {
  padding: 10px;
}

.chatInputBox{
  display: inline;
  border-top: 1px solid white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 10px;
  color: white;
}

.text{
  margin-left: 5px;
  margin-bottom: 0px;
}

.caret {
  width: 10px;
  height: 10px;
  background-color: white;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}